/*global*/
html{
    font-size: 62.5;/*1rem=10px*/
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}

a{
    color: black;
    text-decoration: none;
}
p{
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}

/*utilities*/
.container{
    width: 70%;
    margin: 0 auto ;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    
    }

    /*header*/

    header.site-header{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-image: url(../img/header.jpg);
    font-family: 'Open Sans', sans-serif;
    height: 50vh;
    background-position: top center;
    background-size: cover;

}
header.site-header h1{
    font-size: 3.5rem;
    color: white;
    margin: 0;
    padding: 0;

}
header.site-header p{
    color: white;
    

}
nav.menu a{
    color: white;
    font-size: 1.6rem;
}
/*main*/
.about-item{
    padding: 1rem;
    margin-right: 1rem;
    
}
.about-item p{
    font-size: 1.4rem;
    text-align: justify;
}
.about-item img{
    display: block;
    margin: 1rem auto;
}
.about-us h2{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8rem;
    margin: 2rem;

}

.about-item h3{
    
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;

}
/*houses*/
.houses-container{
    display: flex;

}
.house-container h3{
    font-size: 2.5rem;
}
.house-item{
    background-color: #dedede;
    margin-right: 1rem;

}
.text-info{
    font-size: 1.6rem;

}
.text-price{
    color:rgb(4,120,4 );
    font-size: 1.6rem;
}